@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i|Space+Mono:400,400i,700,700i&display=swap');

body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 1.25;
  background-color: #000;
  background-image: url("https://media.giphy.com/media/dvreHY4p06lzVSDrvj/giphy.gif");
  background-size: cover;
  width: 100vw;
  margin: 0;
}

h1, h2 {
  color: #000;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}

a{
  text-decoration: none;
  color: #000;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

.card {
  margin: 40px auto;
  background-color: rgba(255, 255, 255, .8);
  border-radius: 4px;
  text-align: center;
  padding: 30px;
}

.card-img {
  padding: 24px 0 24px 0;
}

.img-circle {
  width: 240px;
  height: 240px;
  border-radius: 100%;
  margin: 10px 0 25px 0;
}

#ferrari {
  transform: scaleX(-1);
}

.list-inline {
  padding: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 5px;
  list-style: none;
  color: #eee;
  font-size: 30px;
}

i {
  color: #888;
}

.btn {
  color: white;
  padding: 15px 20px;
  border-radius: 2px;
  background-color: #19ff7c;
  background-image: linear-gradient(45deg, #8effff, #19ff7c);
  margin: 30px auto;
  vertical-align: center;
  width: 170px;
  box-shadow: 6px 6px #000;
  transition: all 0.1s ease-in-out;
}

.btn:hover {
  box-shadow: 2px 2px #000;
  transform: translate(3px, 3px);
  transform: scale(0.97);

}

.container {
  width: 460px;   /* This sets the width */
  margin: 0 auto; /* This automatically sets left/right margins */
}

i {
  color: #8c0087;
}


@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
/*  html {
    height: 100%;
    overflow: hidden;
    margin: 0;
  }*/
  .container {
    width: 90vw;
    margin: 30px auto;
  }

  .card {
    width: 80vw;
    padding: 7px;
    margin: 0 auto 18px auto;
  }
  .card-img {
    padding: 7px 0 7px 0;
    width: calc(80vw + 14px);
  }

  .img-circle {
    width: 136px;
    height: 136px;
  }

  h1, h2 {
    font-size: 18px;
  }

  p {
    font-size: 14px;
  }
}

